<% if (@player == :player1 && GAME.winner == :player1) || (@player == :player2 && GAME.winner == :player2) %>
	<h1>Congratulations!!! You won!!!</h1>
<% elsif (@player == :player1 && GAME.winner == :player2) || (@player == :player2 && GAME.winner == :player1) %>
	<h1>Sorry you lost. Better luck next time.</h1>
<% else %>
	<h1>It's a draw!</h1>
<% end %>

<a href="/">Start new game</a>