<h1>Great! Let's play!!!</h1>

<h4>Go on and choose one option!:</h4>    
<form name="input" action="/result" method="get">
	<input type="radio" name="object" value="rock">Rock<br>
	<input type="radio" name="object" value="paper">Paper<br>
	<input type="radio" name="object" value="scissors">Scissors<br>
    <input type="submit" value="Submit">
</form>
