<% if (@player == :player1 && GAME.winner == :player1) || (@player == :player2 && GAME.winner == :player2) %>
	<h2><strong>Congratulations!!! You won!!!</strong></h2>
<% elsif (@player == :player1 && GAME.winner == :player2) || (@player == :player2 && GAME.winner == :player1) %>
	<h2><strong>Sorry you lost. Better luck next time.</strong></h2>
<% else %>
	<h2><strong>It's a draw!</strong></h2>
<% end %>

<a href="/" class="button" >Start new game</a>