<h1 id="great">Great! Let's play!!!</h1>

<h2 id="lets-play">Go on and choose one option!</h2>   

<form id="options" name="input" action="/result" method="post">
	<input type="image" name="object" src="images/rock.png" id ="rock" class="choices" value="rock"/>
	<input type="image" name="object" src="images/paper.png" id="paper" class="choices" value="paper"/>
	<input type="image" name="object" src="images/scissors.png" id="scissors" class="choices" value="scissors"/>
</form>
